body 
{
  margin: 0;
  padding: 25px;

  font-family: "Montserrat", serif;
}

#viz-header
{
  padding-bottom: 5px;
}

#viz-description
{
  padding: 10px 0;
}

#classics-title
{
  margin-bottom: 10px;
  font-size: 13px;
  padding: 2px;
}

.file 
{
  margin-top: 24px;
  font-weight: bold;
}

.text 
{
  border-style: solid;
  border-width: 1px;
  padding: 25px;
  font-family: 'Montserrat';
}

#drop_zone {
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-style: dotted;
  width: 200px;
  text-align: center;
}

#submit
{
  margin: 10px 0;
  padding: 5px;
  font-size: 12px;
}

.classics
{
  font-family: 'Playball', cursive;
}

#viz-display
{
  display: none;
}