<?xml version='1.0' encoding='utf-8'?>
<widget id="thesis.metquest.athenaconvoone" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AC1</name>
    <description>
        Athena Conversation Part I
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
</widget>
